:root {
--icone-person-svg: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 16 16" class="bi bi-person-square" fill="rgba(0,0,0,0.07)"%3E%3Cpath fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/%3E%3Cpath fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/%3E%3C/svg%3E');
--verde-google: #78BB7B;
--verde-vibrante: #1abc9c;
--roxo-vibrante: #9b59b6;
--cinza-palido: #ecf0f1;
--cinza-claro: #d5dbdb;
--verde-agradavel: #2ecc71;
--laranja-agradavel: #e67e22;
--vermelho: rgba(244, 20, 20, 0.879);
--amarelo: rgba(248, 248, 8, 0.941);
--azul: #3498db;
--preto: black;
}
.icon-person {
  background: var(--icone-person-svg) no-repeat center center;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

body {
  /* background: var(--icone-person-svg) no-repeat center center; */
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--verde-google);
}
.task{
  top: 1rem;
}
#ass{
  position: fixed;
  top: 1rem;
  right: 1rem;
  color: var(--roxo-vibrante);
}
.draggable-element {
  display: inline-block; /* Faz os elementos ficarem lado a lado */
  width: 100px;
  height: 100px;
  /* background-color: #3498db; */
  color: black;
  text-align: center;
  border-radius: 1rem;
  line-height: 100px;
  position: absolute; /* Posiciona os elementos de forma absoluta */
  cursor: move;
  margin-right: 10px; /* Adiciona uma margem entre os elementos */
  /* ... Outros estilos ... */
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.draggable-element.frente {
  /* background-color: #3498db; */
  transform: rotateY(0deg);
}
.draggable-element.verso {
  /* background-color: rgba(52, 152, 219, 0.7); */ /* Cor da face verso com opacidade */
  transform: rotateY(180deg);
}
#area-exclusao {
  position: fixed;
  background-color: rgba(104, 102, 102, 0.299);
  width: 100px;
  height: 100px;
  text-align: center;
  bottom: 2rem;
  right: 2rem;
  max-width: 30%; /* Definindo uma largura máxima em relação à largura da tela */
  max-height: 30%; /* Definindo uma altura máxima em relação à altura da tela */
  box-sizing: border-box; /* Para incluir padding e borda na largura e altura máximas */
  border-radius: 1rem;
}
#element-name {
  height: 38px;
  margin-top: 4px;
}
#element-name:focus :active {
  border-color: none;
}
  /* #area-input {
    width: 300px;
    height: 100px;
    border: 1px solid black;
  } */

/* button {
padding: 10px 20px;
font-size: 20px;
cursor: pointer;
border: none;
border-radius: 5px;
color: white;
} */

.trocarBtn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  margin-bottom: 10px; /* Apenas para separar os botões */
}

.trocarBtn:hover {
  opacity: 0.8;
}
.verso {
  color: transparent; /* Oculta o texto tornando a cor transparente */
}

/* Estilos para os botões de rádio e suas respectivas cores */

/* Estilizando a borda dos botões de rádio */
#radio1, #radio2, #radio3, #radio4 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border: 2px solid #0000003b; */
}
#radio1{
  border: 2px solid var(--cinza-palido);
}
#radio2{
  border: 2px solid var(--vermelho);
}
#radio3{
  border: 2px solid var(--amarelo);
}
#radio4{
  border: 2px solid var(--azul);
}

#radio1:checked {
  background-color: var(--cinza-palido);
  border: 2px solid var(--cinza-palido);
}

#radio2:checked {
  background-color: var(--vermelho);
  border: 2px solid var(--vermelho);
}

#radio3:checked {
  background-color: var(--amarelo);
  border: 2px solid var(--amarelo);
}

#radio4:checked {
  background-color: var(--azul);
  border: 2px solid var(--azul);
}
.modal-pequeno .modal-dialog {
  max-width: 50%; /* Ajuste o valor conforme necessário para o tamanho desejado */
  margin: 30px auto;
}
/* .modal-body {
  max-height: 200px;
  max-width: 100px;
  overflow-y: auto;
  padding: 20px;
} */
 .modal-content {
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  /*
  .modal-header {
    background-color: #3498db;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  .modal-footer {
    background-color: #f0f0f0;
    border-radius: 0 0 5px 5px;
  }
  .modal-footer button {
    color: #0b202e;
  }
  .modal-footer button:hover {
    color: white;
  } */
  /* Estilo para o botão de fechar 
  .modal-header button.close {
    color: white;
  }*/

  /* Estilo para o título do modal 
  .modal-title {
    font-weight: bold;
  }*/

  /* .opcao-selecionada { APOS O CLIQUE
    background-color: #66bb6a; 
    color: #fff;
} */

/* CSS personalizado para ajustar o tamanho dos botões do modal */
.custom-modal-button {
  width: 4rem; /* Largura desejada */
  height: 3rem; /* Altura desejada */
  font-size: 16px; /* Tamanho da fonte desejado */
}

/* Estilize os botões de acordo com suas preferências */
.custom-modal-button:hover {
  background-color: #e0e0e0; /* Altere a cor de fundo ao passar o mouse, se desejar */
}
/* Estilo para o botão 1 */
.opcao-modal:nth-child(1) {
  background-color: var(--cinza-palido);
}

/* Estilo para o botão 2 */
.opcao-modal:nth-child(2) {
  background-color: var(--vermelho);
}

/* Estilo para o botão 3 */
.opcao-modal:nth-child(3) {
  background-color: var(--amarelo);
}

/* Estilo para o botão 4 */
.opcao-modal:nth-child(4) {
  background-color: var(--azul);
}

.btn {
  /* Adicione margem e padding conforme necessário */
  margin: 5px;
  padding: 5px;
}

.form-control {
  color: black;
  background-color: rgba(0, 0, 0, 0.852);
}


.modal-header span {
  opacity: 0.6;
}
